<% if @guesthouses.any? %>
  <h2><%= search_result_message(@guesthouses) %></h2>
  
  <%= render 'search_result_params' %>

  <ul class="search_result_list">
    <% @guesthouses.each do |g| %>
      <li class="search_result_list-item fs-4">
        <%= link_to(g.brand_name, g) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h2>Nenhum resultado encontrado</h2>

  <%= render 'search_result_params' %>
<% end %>
