<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <p>O formulário contém os erros abaixo:</p>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>