<div class="home_page_content">
  <div class="available_cities">
    <ul class="cities_list">
      <%# @available_cities.each do |city| %>
        <li class="cities_list-city_link">
          <%#= link_to (city, "/by_city/#{city}") %>
        </li>
      <%# end %>
    </ul>
  </div>

  <div class="guesthouse_listing">
    <% if @recent_guesthouses.any? %>
      <div class="recent_guesthouses">
        <h2>Pousadas Recentes</h2>
        <% @recent_guesthouses.each do |g| %>
          <div class="guesthouse_listing-item">
            <div class="guesthouse_listing-item-name">
              <%= link_to g.brand_name, g %>
            </div>
            <div class="guesthouse_listing-item-city">
              <%= g.address.city %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2>Nenhuma pousada cadastrada</h2>
    <% end %>
    
    <hr>
    
    <% if @other_guesthouses.any? %>
      <div class="other_guesthouses">
        <h2>Outras Pousadas</h2>
        <% @other_guesthouses.each do |g| %>
          <div class="guesthouse_listing-item">
            <div class="guesthouse_listing-item-name">
              <%= link_to g.brand_name, g %>
            </div>
            <div class="guesthouse_listing-item-city">
              <%= g.address.city %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
