<div class="warehouse-listing">
  <div class="recent-guesthouses">
    <h2>Pousadas Recentes</h2>
    <% @recent_guesthouses.each do |g| %>
      <div class="warehouse-listing-item">
        <%= link_to g.brand_name, g %> - <%= g.address.city %>
      </div>
    <% end %>
  </div>
  
  <hr>
  
  <div class="other-guesthouses">
    <h2>Outras Pousadas</h2>
    <% @other_guesthouses.each do |g| %>
      <div class="warehouse-listing-item">
        <%= link_to g.brand_name, g %> - <%= g.address.city %>
      </div>
    <% end %>
  </div>
</div>