<% if @room.guesthouse.user == current_user %>
  <div class="edit_options">
    <div>
      <%=
        link_to(
          'Editar', edit_room_path(@room.id)
        )
      %>
    </div>
  </div>
<% end %>