* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.search_options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.alert {
  color: rgb(184, 2, 2);
  font-weight: bold;
}

.notice {
  color: rgb(4, 168, 4);
  font-weight: bold;
}

.home_page_content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cities_list {
  list-style: none;
  padding: 0;
}

.cities_list-header {
  font-size: 18px;
  font-weight: bold;
}

.cities_list-city_link {
  font-size: 15px;
  margin-top: 5px;
}

.available_cities {
  padding: 10px;
}

.guesthouse_listing {
  padding: 0 10px 10px 10px;
}


.guesthouse_listing hr {
  margin-top: 25px;
}

.guesthouse_listing-item,
.guesthouses_by_city-list-item,
.search_result_list-item {
  margin-top: 15px;
  font-size: 22px;
}

.guesthouse_listing-item-city {
  margin-top: 5px;
  font-size: 15px;
}

.return_link {
  margin-top: 15px;
}

.required {
  color: red;
}

.edit_options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.disclaimer {
  margin-top: 15px;
  font-size: 12px
}

.review_radio_buttons {
  display: flex;
  flex-direction: row;
  align-items: center
}

.radio_label {
  margin-right: 10px;
}

.review_description {
  display: flex;
  flex-direction: column;
  width: 500px;
}