* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.alert {
  color: rgb(184, 2, 2);
  font-weight: bold;
}

.notice {
  color: rgb(4, 168, 4);
  font-weight: bold;
}

.warehouse-listing hr {
  margin-top: 25px;
}

.warehouse-listing-item {
  margin-top: 15px;
  font-size: 20px;
}