* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.alert {
  color: rgb(184, 2, 2);
  font-weight: bold;
}

.notice {
  color: rgb(4, 168, 4);
  font-weight: bold;
}

.guesthouse_listing hr {
  margin-top: 25px;
}

.guesthouse_listing-item {
  margin-top: 15px;
  font-size: 22px;
}

.guesthouse_listing-item-city {
  margin-top: 5px;
  font-size: 15px;
}