
<div class="row col-9 justify-content-end align-items-center">
  <strong class="col-6 text-end"><%= link_to 'Minhas Reservas', guest_reservations_path %></strong>
  <div class="row col-6 align-items-center">
    <span class="col-9 text-end"><%= current_guest.name %> - <%= current_guest.email %></span>
    <div class="col-3">
      <%= button_to 'Sair', destroy_guest_session_path, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>