<% if current_user.host? %>
  <% if current_user.guesthouse %>
    <strong><%= link_to 'Minha Pousada', current_user.guesthouse %></strong>
  <% else %>
    <%= link_to 'Cadastrar Pousada', new_guesthouse_path %>
  <% end %>
<% end %> |
<span><%= current_user.email %></span>

<%= button_to 'Sair', destroy_user_session_path, method: :delete %>